/* BEGIN MEYER RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */
* {
	box-sizing: border-box;
	/* border: solid red 1px; */
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
	grid-template-areas:
	"title"
	"tabs"
	"content";
}

.title {
  font-size: 3rem;
  place-self: center;
	grid-area: title;
}

.tabs {
	grid-area: tabs;
  font-size: 1.5rem;
  border: solid black 1px;
  place-self: center;
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.content {
	grid-area: content;
  background-image: url(./images/affoAvo.png);
  background-color: rgba(255, 133, 8, .95);
  background-position: center;
  background-size: cover;
  width: 100vw;
}

.menu, .about, .contact {
  background-color: rgba(255, 133, 8, .95);
  width: 100vw;
	height: 100%;
	display: grid;
	place-items: center;
}

.aboutContainer {
	display: flex;
	flex-direction: column;
	width: 60vw;
	height: 100%;
	line-height: 1.5;
	border: 1px solid white;
}

.header {
	padding: 20px;
	font-size: 1.5rem;
	font-weight: 700;
}

.paragraph {
	padding: 20px;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 50px;
}

.imageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.founderPhoto {
	width: 70%;
}

.contact {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header header"
  "content content"
  "content content"
  "content content"
  "content content";
}

.contactContent {
  place-self: start;
  width: 50vw;
}
